
<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
    url="http://localhost:3000/apitechu/v5/login/"
          method="POST"
          handle-as="json"
          on-response="mostrarResultadoLogin"
          on-error="mostrarError">

            </iron-ajax>
  <div class="container">

  <div class="row">
    <input type="email" value="{{email::input}}" />
    <input type="password" value="{{pasword::input}}"/>
     <button on-click="logar">Login</button>
  </div>
<span hidden$="{{!logado}}">Bienvenido de nuevo a nuestra web</span>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          pasword: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogin(resultado){
        console.log("4.Llegaron los resultados")
        console.log(resultado)
        console.log("5.Proceso los resultados")
        this.logado = true
        this.dispatchEvent (new CustomEvent("logado", {"detail":{"id":resultado.detail.response.id}}))
        // console.log(resultado.detail.response.id)
      }
      logar(){
        console.log("1.El usuario ha pulsado el botón")
          this.$.hacerLogin.headers.email = this.email
          this.$.hacerLogin.headers.pasword = this.pasword
          console.log ("2.Voy a enviar la petición")
          this.$.hacerLogin.generateRequest()
          console.log("3.Peticion enviada")


          }

      mostrarError(error){
        console.log ("4.llega el error")
        console.log(error)
      }
    }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
