<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="borradorfrontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value="{{nombre::input}}"/>
    <input type="text" value="[[nombre]]"/>
    <h2>Soy {{nombre}} [[apellidos]]</h2>
    <h2>Soy [[nombre]] [[apellidos]]</h2>
    <input type="range" min ="18" max="80" value="{{edad::input}}"/>
    <h3> y tengo [[edad]] años</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BorradorfrontproyectoApp extends Polymer.Element {
      static get is() { return 'borradorfrontproyecto-app'; }
      static get properties() {
        return {
          nombre: {
            type: String
            //value: 'Mamen Sendin'
          },
          apellidos: {
            type: String
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(BorradorfrontproyectoApp.is, BorradorfrontproyectoApp);
  </script>
</dom-module>
