<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">

<dom-module id="padre-app">
  <template>
    <style>
    [hidden] {
      display: none !important;
    }
      :host {
        display: block;
      }
    </style>
    <h1>Yo soy tu padre</h1>
    <!-- <emisor-app id="emi" on-mievento="procesar"></emisor-app> -->
    <login-usuario hidden$={{estoylogado}} id="lgu" on-logado="procesarLogado"></login-usuario>
    <!-- <receptor-app id="recep"></receptor-app> -->
      <visor-cuentas hidden$={{!estoylogado}} id="vsc"></visor-cuentas>
  </template>

  <script>
    /**s
     * `page-not-found`
     * page-not-found
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoylogado: {
            type:Boolean,
            value:false
          }
        };
        }
        procesar(e){
          console.log("Emisor me ha dicho algo")
          console.log(e)
          this.$.recep.mostrarDatos(e.detail)
        }
        procesarLogado(e){
          var id = e.detail.id
          this.$.vsc.obtenerCuentas(id)
          this.estoylogado=true
        }

      }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
